@typeparam TEntity 

<input class="form-control" style="mac-width:600px" placeholder="Search Tasks..."
    @bind="searchItem"/>

<button class="btn btn-primary form-control" style="max-width:300px"
     @onclick=OnSearchClicked>
    Search
</button>


@code {

    [Parameter]
    public List<TEntity> Items { get; set; } //the use of TEntity allows this to be used with any type

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchItem;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchItem);
    }
}
